.body {
    background-color: #F2F2F2;
}

.btn-check {
    width: 100px;
}

.form-check-input:hover {
    outline: 1px solid black;
    cursor: pointer;
    transition: outline 0.1s ease;
}

.gg {
    display: flex;
}


/* .c {
   
} */

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0px;
}
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide {
  animation: fadeSlide 0.8s ease forwards;
}